/* --- Estilos de Newsletter --- */
.newsletter-header pre {
    font-size: 8px; /* Para que el arte ASCII no se rompa en móvil */
    line-height: 1;
    margin-bottom: 10px;
    color: var(--text-color);
}

.system-msg {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 20px;
}

.separator {
    border: none;
    border-top: 1px dashed var(--border-terminal);
    margin-bottom: 30px;
}

.post {
    margin-bottom: 35px;
    border-left: 2px solid transparent;
    transition: all 0.2s;
}

.post:hover {
    border-left: 2px solid var(--text-color);
    padding-left: 10px;
}

.timestamp { opacity: 0.5; font-size: 14px; }

.tag {
    font-weight: bold;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
    margin-right: 10px;
}

.tag.vuln { background: #450a0a; color: #ff4545; } /* Rojo para alertas */
.tag.info { background: #0a2545; color: #4599ff; } /* Azul para info */

.post-title {
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.summary {
    margin: 10px 0;
    font-size: 15px;
    opacity: 0.9;
    color: var(--text-color);
}

.read-more {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid var(--text-color);
    padding: 2px 8px;
}

.read-more:hover {
    background: var(--text-color);
    color: var(--terminal-bg);
}

/* Ocultar scrollbar pero permitir scroll para estética limpia */
.content::-webkit-scrollbar { width: 5px; }
.content::-webkit-scrollbar-thumb { background: var(--border-terminal); border-radius: 10px; }
